<?xml version="1.0"?>
<!--
/**
 * Bronto Common General Settings Form
 *
 * @category    Bronto2
 * @package     Bronto_Common
 * @author      Adam Daniels <adam.daniels@atlanticbt.com>
 */
-->
<config>
    <default>
        <bronto_common>
            <settings>
                <enabled>0</enabled>
                <debug>1</debug>
                <verbose>0</verbose>
                <test>0</test>
                <notices>0</notices>
            </settings>
            <format>
                <image_type>image</image_type>
                <image_width>88</image_width>
                <image_height>77</image_height>
                <use_symbol>0</use_symbol>
                <incl_tax>0</incl_tax>
                <default_greeting><![CDATA[Valued Customer]]></default_greeting>
                <default_greeting_prefix></default_greeting_prefix>
                <default_greeting_firstname>Valued</default_greeting_firstname>
                <default_greeting_lastname>Customer</default_greeting_lastname>
            </format>
        </bronto_common>
    </default>
</config>